@font-face {
    font-family: 'TT Norms';
    src: local('TT Norms'), url('../fonts/TTNorms-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'TT Norms Light';
    src: local('TT Norms'), url('../fonts/TTNorms-Light.otf') format('opentype');
}

@font-face {
    font-family: 'TT Norms Bold';
    src: local('TT Norms'), url('../fonts/TTNorms-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'TT Norms Black';
    src: local('TT Norms'), url('../fonts/TTNorms-Black.otf') format('opentype');
}

@font-face {
    font-family: 'TT Norms Medium';
    src: local('TT Norms'), url('../fonts/TTNorms-Medium.otf') format('opentype');
}

:root {
    --dark: #0D1C2E;
    --blue: #2a8bf2;
    --pink: #FF3366;
    --light: #707C97;
    --bg1: #E6ECFE;
    --bg2: #FAFBFF;
    --white: #FFFFFF;
    --green: #00C305;
}

.font16 {
    font-size: 16px
}

.font14 {
    font-size: 14px
}


.text-muted {
    color: var(--light);
}

.align-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.align-icon-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: start;
}

.align-icon-arrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'TT Norms Medium';
}

/*  */

.ca-dashboard {
    padding-left: 350px;
    padding-top: 80px;
    width: 580px;
}

.search-wrapper {
    display: flex;
    flex-grow: 1;
    border-right: 2px solid #F5F4FB;
}

.ca-search-area {
    display: flex;
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #FFFFFF;
    box-shadow: 0 10px 6px -6px var(--bg1);
    border-radius: 6px;
    margin-bottom: 20px;
    align-items: center;
}

.serach-input {
    height: 50px;
    border: none;
}

.serach-input::placeholder {
    font-family: 'TT Norms Medium';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #707C97;
}

.message-filter {
    color: #707C97;
    padding-left: 15px;
}

/*  */

/* sidebar */

.ca-sidebar__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    background: var(--white);
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}

.ca-sidebar-userDetails {
    padding: 92px 0px 0px 102px;
}

.user-name__text {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.user-avatar__image {
    border: 5px solid var(--white);
    border-radius: 50%;
}

.ca-sidebar-navlinks {
    padding: 30px 32px;
    font-family: 'TT Norms Medium', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--light);
    text-transform: uppercase;
}

.ca-sidebar-navlinks li {
    list-style: none;
    padding: 50px 0px 0px 25px;
}

.ca-sidebar-navlinks li.active {
    color: var(--blue);
}

.ca-sidebar-navlinks li.active::before {
    content: ' ';
    position: absolute;
    left: 0;
    margin-top: -10px;
    width: 5px;
    padding: 0px 0px 40px 2px;
    background: var(--blue);
    box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
    border-radius: 3px;
}

.ca-sidebar-logout-wrapper {
    position: relative;
    height: calc(100vh - 70vh);
    ;
}

.ca-sidebar-logout {
    padding: 0px 0px 0px 25px;
    font-family: 'TT Norms Medium', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--light);
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
}

/*  */

/* chat Area */

.chat-title-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.last_text {
    font-size: 15px;
    font-family: 'TT Norms', sans-serif;
    font-weight: 600;
}

/* Button */

.ca-btn {
    font-family: 'TT Norms', sans-serif;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
    height: 60px;
    border: none;
    padding: 18px 25px 18px 25px;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
}

.ca-btn-primary {
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}

/* end  */

.ca-card__container {
    min-height: 220px;
    background: var(--white);
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 10px 6px -6px var(--bg1);
}

/*  Chat Selection */

.isSelected {
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
    border-radius: 6px;
    height: 220px;
    margin-top: 20px;
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
}

.isSelected .user-status {
    color: var(--white) !important;
}

.isSelected .time {
    color: var(--white) !important;
}

.isSelected .last_text {
    color: var(--white) !important;
}

.isSelected .voice_note {
    color: var(--white) !important;
}

.isSelected .attachments[background="blue"] {
    background: var(--white);
}

.isSelected .attachments[background="pink"] {
    background: var(--white);
}


.Chat-list__container {
    overflow: hidden scroll;
    height: 580px;
}

/* end  */

.user-avatar {
    border-radius: 50%;
    padding: 20px 0px 0px 20px;
    width: 54px;
}

.user-title {
    font-family: 'TT Norms Medium';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
}

.user-status {
    font-family: 'TT Norms Medium';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--blue);
}

.attachments {
    display: flex;
    color: var(--white);
    border-radius: 20px;
    width: 110px;
    height: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.attachments[background="blue"] {
    background: rgba(42, 139, 242, 0.25);
    color: var(--blue);
    font-size: 14px;
}

.attachments[background="pink"] {
    background: rgba(255, 51, 102, 0.25);
    color: var(--pink);
    font-size: 14px;
}

.user-avatar::before {
    content: ' ';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--green);
}

.user-wrapper {
    position: relative;
    border-radius: 50%;
}

.is_online {
    position: absolute;
    background: var(--green);
    border: 1.5px solid #FFFFFF;
    width: 10px;
    height: 10px;
    left: 20px;
    top: 25px;
    height: 10px;
    border-radius: 50%;
}

.read-count {
    background: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 15px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px rgba(198, 27, 74, 0.05), 2px 2px 10px rgba(198, 27, 74, 0.1), 1px 1px 50px rgba(198, 27, 74, 0.15);
    width: 20px;
    height: 20px;
    color: var(--white);
}

/* end Chat Area */

/* chat Box */

.chat-box--top-header {
    background: #FAFBFF;
    border-radius: 6px 6px 0px 0px;
    height: 110px;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
}

.mat-round {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--white);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
}

.mat-round[color="blue"] {
    background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
    color: var(--white);
}

.mat-round[color="transparent"] {
    border-radius: 50%;
    box-shadow: none;
    color: var(--light);
}

.chat-file {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.text-white {
    color: #FFFFFFB2;
}

.text-primary {
    color: var(--blue)
}

/* end */

/*  */

#chat-container {
    max-height: 600px;
    overflow: hidden scroll;
}



.ca-message-area-wrapper {
    background: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
}

.ca-chat-left {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 50px;
    max-width: 520px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'TT Norms';
    font-weight: 100;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    color: var(--white);
}

.ca-chat-right {
    display: flex;
    align-items: center;
    align-content: center;
    background: #FFFFFF;
    margin-top: 20px;
    min-height: 50px;
    max-width: 520px;
    font-family: 'TT Norms';
    border-radius: 0px 10px 10px 10px;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    color: var(--light);
}

.ruler {
    overflow: hidden;
    text-align: center;
    color: #707C97B2;
}

.ruler:before,
.ruler:after {
    background: rgba(112, 124, 151, 0.15);
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 0.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.ruler:before {
    right: 0.5em;
    margin-left: -50%;
}

.ruler:after {
    left: 0.5em;
    margin-right: -50%;
}

.float-right {
    float: right;
}

.ca-text-area {
    width: 100%;
    border: none;
}

.ca-input-area {
    padding-top: 20px;
    position: relative;
    background: var(--white);
}

.ca-input-area::before {
    content: ' ';
    position: absolute;
    background: rgba(112, 124, 151, 0.15);
    border-radius: 2px;
    height: 2px;
    margin-top: -10px;
    width: 100%;
}

.ca-text-area::placeholder {
    font-family: 'TT Norms';
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    color: var(--light);
}

textarea {
    resize: none;
    font-size: 16px;
    font-family: 'TT Norms', sans-serif;
    padding: 15px;
}

textarea:focus-within {
    outline: none;
}

/*  */



/* scollor bar */

::-webkit-scrollbar {
    width: 1px;
}

/*  */

/* media Query */

@media (min-width: 1024px) and (max-width: 1500px) {

    .ca-sidebar__container {
        width: 240px;
    }


    .ca-sidebar-userDetails {
        padding: 80px 0px 0px 60px;
    }

    .ca-sidebar-navlinks {
        padding: 20px 22px;
        font-size: 16px;
    }

    .ca-sidebar-navlinks li {
        list-style: none;
        padding: 30px 0px 30px 20px;
    }

    .ca-sidebar-navlinks li.active::before {
        margin-top: -8px;
        width: 3px;
        padding: 0px 0px 30px 2px;
    }

    .ca-dashboard {
        padding-left: 280px;
    }

    .user-avatar {
        width: 45px;
    }

    .user-title {
        font-size: 14px;
    }

    .user-status {
        font-size: 12px;
    }

    .attachments {
        width: 90px;
        height: 30px;
    }

    .attachments[background="blue"] {
        font-size: 12px;
    }

    .attachments[background="pink"] {
        font-size: 12px;
    }

    .chat-box--top-header {
        height: 90px;
    }

    .mat-round {
        width: 32px;
        height: 32px;
    }

    .ca-message-area-wrapper {
        min-height: 400px;
    }

    .ca-chat-left {
        min-height: 20px;
        max-width: 320px;
    }

    .ca-chat-right {
        max-width: 320px;
        min-height: 20px;
    }

}